hr {
    border: 1px solid rgba(124, 128, 119, 0.37);
}

img {
  border: 1px solid rgba(124, 128, 119, 0.37);
}

.post_div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 3%;
  border: 1px solid rgba(124, 128, 119, 0.37) ;
  padding: 3%;
  width: 40%
}
#nav-bar-line {
  height: 1px;
  margin-bottom: 4%;
}

.inline_div {
  margin: 10px;
  overflow: hidden;
}

.inline_div * {
  float: left;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 20px;
}


a {
  cursor: default;
  color: black;
  text-decoration:none;
}
a:hover {
  color: #47afff;
}


#comment * {
  display: inline;
}

#feed-item-detail {
  margin: 3%;
  border: 1px solid rgba(124, 128, 119, 0.37) ;
  padding: 3%;
  width: 40%;
}

#inbox_div {
  margin: 3%;
}

#send_message_div {
  margin: 3%;
}

#register-page {
  margin: 3%;
}

#register-page * {
  margin-top: 1%;
}

.link-to-click {
  color: deepskyblue;
}

#password-reset-page {
  margin:3%;
}

#login-page {  margin: 3%; }
