{% extends 'main_app/base.html' %}
{% block body %}

<h2>Profile</h2>
    <p>{{ user_viewed.username }}  </p>
        {% if request_user.username == user_viewed.username %}
            <form method="get" action="/accounts/edit/">
                <button type="submit">Edit Profile</button>
            </form>
        {% else %}
            <form method="POST" action="">
             {% csrf_token %}
                {% if request_user in user_viewed.followers.all %}
                    <button type="submit" name="unfollow">Unfollow</button>
                    <button type="submit" name="message">Message</button>
                {% else %}
                    <button type="submit" name="follow">Follow</button>
                    {% endif %}
            </form>
        {% endif %}

    <p>{{ user_posts.count }} posts {{ user_viewed.followers.count }} <a href="/user/{{ user_viewed.username }}/followers">Followers</a> {{ user_viewed.following.count }} <a href="/user/{{ user_viewed.username }}/following">Following</a></p>

    {% if user_posts.count == 0 %}
        <p>No posts</p>
    {% endif %}

     {% for user_post in user_posts %}
         <h5>{{ user_post.number_of_likes }} Like</h5>
        <form action = "{% url 'like' %}" method="POST">
            {% csrf_token %}
            <input type='hidden' name="post_id" value="{{ user_post.id }}">
            {% if user not in user_post.liked.all %}
                <button type="submit">Like</button>
            {% else %}
                <button type="submit">Unlike</button>
            {% endif %}
            <p> {{ user_post.owner.username }}:</p> <a href="{% url 'feed-detail' user_post.id %}"> {{ user_post.caption }}</a>
        </form>

    {% endfor %}

{% endblock %}